/*
Ancho del sitio 1000px
mínimo ancho adaptable 600px
*/
* {
	margin: 0;
	padding: 0;
}
BODY {
	background-image: url("../img/PatronFondo.png");
}
HR {
	margin:  20px 0;
	border:  1px groove skyblue;
}

/*
-----------------------------------
------------- TABLAS --------------
-----------------------------------
*/


ARTICLE SECTION TABLE {
	margin: 10px auto;
	padding: 0;
	width: 100%;
	text-align: center;
	border: 3px solid black;
	border-spacing: 0;
}
ARTICLE SECTION TABLE TH {
	text-align: center;
	padding: 5px 1px;
	font-size: 1.2em;
	font-weight: bolder;
	color: orange;
	background-color: #0e2472;
}
ARTICLE SECTION TABLE TR:nth-of-type(odd) {
	background-color: #adc3ff;
}
ARTICLE SECTION TABLE TR:nth-of-type(even) {
	background-color: #7baafc;
}
ARTICLE SECTION TABLE TR TD {
	padding: 5px 1px;
	text-align: center;
	color: #0e2472;
	font-size: 1.1em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


/*
-----------------------------------
------------- Título --------------
-----------------------------------
*/
#cajaTitulo {
    margin: auto;
    padding: 40px;
    max-width: 1100px;
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Flexbox para la disposición */
    align-content: center; /* Centra verticalmente el contenido */
    position: relative; /* Permite posicionar elementos absolutamente dentro del contenedor */
}

#cajaTitulo IMG {
    width: 150px; /* Tamaño del logo ajustado */
    height: auto;
    position: absolute; /* Posiciona el logo de manera absoluta dentro del contenedor */
    top: 20px; /* Espacio desde la parte superior */
    left: 20px; /* Espacio desde la izquierda */
}

#cajaTitulo FIGCAPTION {
    color: white;
    margin-left: 300px; /* Asegura que el texto no se sobreponga al logo */
    text-align: center; /* Centra el texto en el contenedor */
    flex: 1; /* Ocupa todo el espacio restante a la derecha del logo */
}

#cajaTitulo FIGCAPTION H1 {
    color: #61dafb;
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#cajaTitulo FIGCAPTION P {
    font-size: 1.3em;
    font-weight: 500;
    color: #61dafb;
    margin: 5px 0 0 0;
}

#cajaTitulo FIGCAPTION:hover {
    color: #21a1f1;
    cursor: pointer;
}



/*
-----------------------------------
---------- Menú Principal ---------
-----------------------------------
*/
#cajamenuprincipal {
    margin: auto;
    padding: 10px 0;
    min-width: 600px;
    max-width: 1000px;
    text-align: center;
    background-color: #f2f2f2; /* Color de fondo más suave */
    border-top: 3px solid #a73b3b;
    border-bottom: 3px solid #a83d3d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una sombra sutil */
}

#cajamenuprincipal ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#cajamenuprincipal ul li {
    display: inline-block;
    margin: 0 10px;
}

#cajamenuprincipal a {
    color: #333; /* Color de texto más oscuro para mejor legibilidad */
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #fcca5f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

#cajamenuprincipal a:hover {
    background-color: #66ccff; /* Cambia a un azul más atractivo al pasar el cursor */
    color: white;
}

#cajamenuprincipal ul li {
    margin: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra más suave */
}



/*
-----------------------------------
------------ Contenido ------------
-----------------------------------
*/
#cajaContenido {
	display: flex;
	margin: auto;
	min-width: 600px;
	max-width: 1000px;
	background-color: #ffffff;
}
#cajaContenido #cajaEntradas {
	padding: 10px 5px;
	margin: 5px 20px 10px 3px;
	flex: 3;
	border-right: 3px groove skyblue;
}
#cajaContenido #cajaEntradas ARTICLE HEADER {
	margin: 5px 0;
	color: white;
	text-align: center;
	border:  2px groove black;
	background-color: #103f77;
	border-radius:  5px;
	box-shadow: 2px 2px 2px black;
}
#cajaContenido #cajaEntradas ARTICLE HEADER H2 {
	color: red;
	background-color: #5a71ad;
	text-shadow: 1px 1px 1px black;
}
#cajaContenido #cajaEntradas ARTICLE SECTION {
	margin: 14px 0;
}
#cajaContenido #cajaEntradas ARTICLE SECTION H3 {
	color: #5a71ad;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px black;
	border-bottom: 3px groove black;
}
/*
-----------------------------------
-------------- Aside --------------
-----------------------------------
*/
aside {
    margin: 20px;
    padding: 20px;
    flex: 1;
    background-color: #ffffff; /* Cambia el fondo del contenedor */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra al contenedor */
}

aside H4 {
    margin: 20px 0;
    padding: 20px 0;
    color: #e21010;
    text-align: center;
    background-color: #4A90E2; /* Cambia el color del encabezado */
    border: none; /* Elimina el borde si no es necesario */
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
    font-family: 'Arial', sans-serif; /* Cambia la fuente */
	align-content: center;
}

aside UL LI {
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Añadir transición al fondo */
	align-content: center;
}

aside UL LI:nth-of-type(odd) {
    background-color: #4A90E2;
}

aside UL LI:nth-of-type(even) {
    background-color: #4A90E2;
}

aside UL LI A {
    padding: 8px;
    font-size: 1.1em;
    text-decoration: none;
    color: #333333; /* Cambia el color del texto */
    text-shadow: none; /* Elimina la sombra del texto */
    display: block; /* Asegura que el enlace ocupa todo el espacio del LI */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

aside UL LI A:hover {
    color: #000000;
    text-decoration: underline;
    background-color: #d6dfe9; /* Añadir efecto hover al fondo */
}


/*
-----------------------------------
-------------- Footer -------------
-----------------------------------
*/

FOOTER {
	margin: 0 auto 10px auto;
	min-width: 600px;
	max-width: 1000px;
	border-top:3px groove black;
	background-color:#103f77;
}
FOOTER P {
	width: 100%;
	text-align: center;
	color: white;
}
FOOTER P A {
	color: yellow;
}
FOOTER #cajaEnlacesFooter {
	margin: auto;
	width: 100%;
	display: flex;
}
FOOTER #cajaEnlacesFooter NAV {
	flex: 1;
}
FOOTER #cajaEnlacesFooter NAV UL {
	margin: 5px 0;
	padding: 8px 0;
	border-top:  3px groove skyblue;
	border-bottom:  3px groove skyblue;
}
FOOTER #cajaEnlacesFooter NAV UL LI {
	padding: 5px;
	list-style: none;
	text-align: center;
}
FOOTER #cajaEnlacesFooter NAV UL LI A {
	margin: auto;
	padding:  5px ;
	color:  orange;
}
FOOTER #cajaEnlacesFooter NAV UL LI A:hover {
	color: white;
}
FOOTER #cajaEnlacesFooter NAV UL LI A:visited {
	color: red;
}

/*
-----------------------------------
------------- Agregar -------------
-----------------------------------
*/
.agregar {
	padding: 10px 8px;
	cursor: pointer;
	font-size: 1.4em;
	text-align: right;
	color: darkcyan;
	font-weight: bolder;
}
.agregar:hover {
	text-decoration: underline;
}

/*
-----------------------------------
------------- Buscar --------------
-----------------------------------
*/
#buscar {
	display: none;
}
#buscar FORM {
	margin: auto;
	text-align: center;
}
#busqueda {
	display: none;
}

/*
-----------------------------------
--------------- Subir -------------
-----------------------------------
*/
#subir {
	width: 100%;
	text-align: center;
	color: white;
}
#subir:visited {
	color: white;
}
#subir DIV {
	font-size: 1.2em;
	background-color: black;
}
#subir DIV:hover {
	background-color: red;
}

body {
    background-color: #e0f7fa; /* Color sólido para el fondo de la página */
    font-family: Arial, sans-serif; /* Fuente general */
    margin: 0;
    padding: 0;
}
/*reserva


/* Contenedor del formulario */
.form-container {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo del título del formulario */
.form-title {
    color: #00796b; /* Color verde oscuro para el título */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
}

/* Estilo general del formulario */
form {
    padding: 0; /* Eliminamos padding adicional */
}

/* Estilo de los campos del formulario */
form input[type="text"], 
form input[type="date"], 
form input[type="number"], 
form textarea {
    width: calc(100% - 22px); /* Ajusta el ancho del campo */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo para el área de texto */
form textarea {
    height: 100px; /* Altura para el área de texto */
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}

/* Estilo para las etiquetas */
form label {
    display: block;
    margin: 8px 0 4px;
    color: #333;
}

/* Estilo para el botón de enviar */
form input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Efecto hover para el botón de enviar */
form input[type="submit"]:hover {
    background-color: #45a049;
}


/*agregarclientes

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo del título del formulario */
.form-title {
    color: #00796b; /* Color verde oscuro para el título */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
}

/* Estilo general del formulario */
form {
    padding: 0; /* Eliminamos padding adicional */
}

/* Estilo de los campos del formulario */
form input[type="text"], 
form input[type="date"], 
form input[type="number"], 
form textarea {
    width: calc(100% - 22px); /* Ajusta el ancho del campo */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo para el área de texto */
form textarea {
    height: 100px; /* Altura para el área de texto */
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}

/* Estilo para las etiquetas */
form label {
    display: block;
    margin: 8px 0 4px;
    color: #333;
}

/* Estilo para el botón de enviar */
form input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Efecto hover para el botón de enviar */
form input[type="submit"]:hover {
    background-color: #45a049;
}



.gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en múltiples filas */
    justify-content: space-around; /* Distribuye las imágenes de manera uniforme */
    margin-top: 20px; /* Añade espacio encima de la galería */
}

.gallery img {
    max-width: 30%; /* Controla el ancho de cada imagen */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin: 10px; /* Espacio entre imágenes */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto 3D */
    transition: transform 0.3s ease-in-out; /* Transición suave al hacer hover */
}

.gallery img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al hacer hover */
}
